* { 
    box-sizing: border-box;
    margin: 1;
    padding: 1;
    /*font-family: 'Kumbh Sans', sans-serif;*/
}

.main {
    background-color: rgb(255, 255, 255);
    
}
.main__content h1 {
    font-size: 3rem;
    background-color: rgb(30, 0, 255);
    background-image: linear-gradient(to top, rgb(43, 0, 255) 0%, rgb(12, 17, 19) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent
}
.main__container h2 {
    ont-size: 4rem;
    background-color: rgb(255, 0, 166);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent

}

.navbar {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%), url('images/MATH.jpeg');
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 50px;
    z-index: 0; 
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 10px;
}

.navbar__links {
    color: rgb(2, 1, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    
    padding: 20px 20px;
    height: 100%;
    width: 100%;
    font-size: 2rem;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: rgb(253, 249, 249);
}



